In [2]:
import pandas as pd
import csv
import numpy as np

In [46]:
alist = []
ind = [0, 0, -1, -1, 0]
exclusions = [[0, 1, 2, -1], [0, 14, 24, 36, -1], [0, 1, 3, 4], [0, 1, 3, 4], [0]]
i = 0
for name in ['Education_Data.csv', 'VisionZero_TicketData.csv', 'neighborhood_slow_zones.csv', 'speed_bumps.csv',
            'VisionZero_Collisions.csv']:
    with open(name, mode='r') as afile:
        reader = csv.reader(afile)
        alist.append(dict((rows[ind[i]], [rows[r] for r in range(0, len(rows)) if r not in exclusions[i]]) for rows in reader))
        i+=1

In [101]:
PrecinctDates = []
for i in range(0, len(alist)):
    PrecinctDates+= alist[i].keys()
PrecinctDates_ = []
for p in PrecinctDates:
    if p.isdigit():
        PrecinctDates_.append(p)
PrecinctDates_ = np.unique(np.asarray(PrecinctDates_).astype(int))

In [120]:
len(alist[0].values()[0])
a = 0
for i in range(0, len(alist)):
    a+= len(alist[i].values()[0])

In [118]:
lengths = []
for i in range(0, len(alist)):
    lengths.append(len(alist[i].values()[0]))

In [171]:
final_dictionary = {}
l = len(alist)
for p in PrecinctDates_:
    rec = [0 for i in range(0, a)]
    b = 0
    for i in range(0, l):
        if str(p) in alist[i].keys():
            for j in range(0, lengths[i]):
                rec[j+b] = alist[i][str(p)][j]
        b+= lengths[i]
    final_dictionary[p] = rec

In [172]:
df = pd.DataFrame(final_dictionary.items(), columns=['PrecinctYear', 'Data'])

In [173]:
print df['Data'][10]
print df.iloc[10][0]

['0', '4', '4', '7', '1', '16', '20', '271', '0', '1178', '0', '17', '450', '2194', '6', '8', '232', '3', '118', '108', '35', '514', '10', '444', '44', '15', '68', '134', '1204', '30', '435', '16', '616', '22', '20', '30', '563', '599', '89', '1185', '4483', '9493', 0, '8', '813', '5', '134', '1', '39', '1', '640', '3']
1022014

In [174]:
df.head(1)

   PrecinctYear                                               Data
0        342016  [0, 0, 1, 5, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [175]:
print alist[0]['PrecinctYear']
print alist[1]['PrecinctYear']
print alist[2]['PrecinctYear']
print alist[3]['PrecinctYear']
print alist[4]['ID']
colnames = alist[0]['PrecinctYear']+alist[1]['PrecinctYear']+alist[2]['PrecinctYear']+alist[3]['PrecinctYear']+alist[4]['ID']
print colnames

['Taxis', 'Flyers', 'Seniors', 'Outreach', 'HandsOn', 'Edu_Total']
['Backing Unsafely', 'Brake Lights (Defect.or Improper)', 'Bus Lane, Driving in', 'Cell Phone', 'Commercial Veh on Pkwy', 'Defective Brakes', 'Disobey Steady Red Signal', 'Disobey Traffic Control Device', 'Equipment (Other)', 'Fail to Keep Right', 'Fail to Signal', 'Following Too Closely', 'Headlights (Defect. or Improper)', 'Improper Lights', 'Improper Passing', 'Improper Turn', 'Improper/Missing Plates', 'Not Giving R of W to Pedes.', 'Not Giving R of W to Veh.', 'One Way Street', 'Other Movers', 'Pavement Markings', 'Safety Belt', 'School Bus, Passing Stopped', 'Speeding', 'Spillback', 'Tinted Windows', 'Truck Routes', 'U-Turn', 'Uninspected', 'Uninsured', 'Unlicensed Operator', 'Unregistered', 'P12', 'P123', 'Traf_Total']
['Neigh_Slow_Zone_Total']
['Speed_Bump_Total']
['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED']
['Taxis', 'Flyers', 'Seniors', 'Outreach', 'HandsOn', 'Edu_Total', 'Backing Unsafely', 'Brake Lights (Defect.or Improper)', 'Bus Lane, Driving in', 'Cell Phone', 'Commercial Veh on Pkwy', 'Defective Brakes', 'Disobey Steady Red Signal', 'Disobey Traffic Control Device', 'Equipment (Other)', 'Fail to Keep Right', 'Fail to Signal', 'Following Too Closely', 'Headlights (Defect. or Improper)', 'Improper Lights', 'Improper Passing', 'Improper Turn', 'Improper/Missing Plates', 'Not Giving R of W to Pedes.', 'Not Giving R of W to Veh.', 'One Way Street', 'Other Movers', 'Pavement Markings', 'Safety Belt', 'School Bus, Passing Stopped', 'Speeding', 'Spillback', 'Tinted Windows', 'Truck Routes', 'U-Turn', 'Uninspected', 'Uninsured', 'Unlicensed Operator', 'Unregistered', 'P12', 'P123', 'Traf_Total', 'Neigh_Slow_Zone_Total', 'Speed_Bump_Total', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED']

In [176]:
df.head(5)

   PrecinctYear                                               Data
0        342016  [0, 0, 1, 5, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1        682011  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2        682012  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3        682013  [0, 0, 0, 0, 0, 0, 9, 274, 0, 1623, 32, 2, 485...
4        682014  [0, 0, 4, 4, 0, 8, 9, 265, 1, 1295, 59, 4, 590...

In [177]:
df['Precinct'] = df['PrecinctYear'].apply(lambda x: str(x)[:-4])
df['Year'] = df['PrecinctYear'].apply(lambda x: str(x)[-4:])

In [178]:
for i in range(0, a):
    df[colnames[i]] = df['Data'].apply(lambda x: x[i])

In [179]:
del df['Data']

In [180]:
df.head(5)

,PrecinctYear,Precinct,Year,Taxis,Flyers,Seniors,Outreach,HandsOn,Edu_Total,Backing Unsafely,...,Neigh_Slow_Zone_Total,Speed_Bump_Total,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,342016,34,2016,0,0,1,5,0,6,0,...,0,0,0,0,0,0,0,0,0,0
1,682011,68,2011,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,682012,68,2012,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,682013,68,2013,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,0
4,682014,68,2014,0,0,4,4,0,8,9,...,0,0,0,0,0,0,0,0,0,0

In [181]:
df.to_csv('Merged.csv')